.actualites-teaser {
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.actualites-teaser {
    color: inherit;
    text-decoration: none;
}
.actualites-teaser > .field--type-image {
    width: 100%;
}
.actualites-teaser > .field--type-image > .field__label {
    display: none;
}
.actualites-teaser > .field--type-image img{
    width: 100%;
    max-height: 55vh;
    object-fit: cover;
}
.actualites-teaser > .infos {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}   
.actualites-teaser > .infos h3 {
    text-align: center;
}
.actualites-teaser .know-more-button {
    background-color: var(--dark-gray );
    color: var(--primary-extra-light );
    padding: .35rem 1.25rem;
    border: 1px solid transparent;
    transition: all .35s;
}

.actualites-teaser .know-more-button:is(:hover, :focus-within) {
    background-color: transparent;
    color: var(--dark-gray );
    border-color: var(--dark-gray );
}