
.footer-container {
    position: relative;
    margin-top: 5rem;
}
.footer-container::after {
    content: url('../../images/ruban.svg');
    position: absolute;
    top: 0;
    transform: translateY(-85%);
    width: 5.5rem;
    left: min(15rem, 15%);
}
.footer-container > div:first-child  {
    background-color: var(--primary);
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}
.footer-container .region  ul {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.footer-container .region  ul a {
    color: var(--primary-extra-light);
    text-decoration: none;
}
.footer-container > footer {
    padding: 1.5rem 3rem;
    background-color: var(--dark-gray); 
}

