.main-nav {
    --_border-bottom-size: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    position: relative;
    border-bottom: var( --_border-bottom-size) solid var(--secondary);
}

.main-nav ul {
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
}

.main-nav .site-logo {
    display: block;
}
.main-nav .site-logo > img {
    height: 7vh;
}

.main-nav .navs > div {
    position: absolute;
    top: calc(100% + var(--_border-bottom-size));
    left: 0;
    background-color: var(--primary-extra-light);
    z-index: 1000;
    width: 100%;
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform .35s ease-in-out;
}

.main-nav .navs > div li a {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    padding: 1rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.main-nav .navs > div li a:is(:hover, :focus-within) {
    opacity: .7;
    background-color: var(--primary);
}

.main-nav .activeMenuBar > div {
    transform: scaleY(1);
}

@media screen and (min-width: 1000px) {
    .main-nav .burger-btn {
        display: none;
    }
    .main-nav .navs > div {
        position: inherit;
        transform: scaleY(1);
        display: flex;
        align-items: center;
        gap: 1.2rem;
        background-color: transparent;
        
    }
    .main-nav .navs > div li a {
        width: fit-content;
        border-bottom: none;
        padding: 0;
    }

    .main-nav .navs > div  ul {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .main-nav .navs > div > :last-child {
        position: relative;
        padding-left: 1rem;
    }
    .main-nav .navs > div > :last-child::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 2px;
        height: 80%;
        transform: translateY(-50%);
        border-radius: 100vmax;
        background-color: var(--dark-gray);
    }
    .main-nav .navs > div li a:is(:hover, :focus-within) {
        opacity: .7;
        background-color: transparent;
    }
}